.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    grid-column-gap: 1px;


}


.dialogsItems {
    padding: 10px;
    background-color: #464646;
}


.dialogsItems .dialog a {
    color: white;
    text-decoration: none;
}

.dialogsItems a.activeLink {
    color: deepskyblue;
}

.messages {
    padding: 10px;
    color: black;
    background-color: #464646;
}

.messages .message {

}

.dialogsItems .dialog img {
    width: 40px;
    height: 40px;
    border-radius: 22px;
    padding-top: 10px;
}